---
---

@import "normalize";
@import "github-corner";

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) { @content; }
    }
}


h1 {
    font-family: 'Quicksand', sans-serif;
    color: $font-color;
    transform: translateZ(20px);
    margin: 0;
}

html {
    height:100%;
}

p {
    color: $font-color;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

main {
    display: flex;
    align-items: center;
    height: 75vh;
    transform-style: preserve-3d;
    // This is a hacky fix.
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}

#container {
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    text-align: center;

    #circle-image {
        margin: 10px;

        @include respond-to(handhelds) { width: 80vw; }
        @include respond-to(medium-screens) { width: 60vw; }
        @include respond-to(wide-screens) {
            width: $profile-image-size;
            height: $profile-image-size;
        }

        #profile-pic, #bitcoin-pic  {
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 0;
        }

        #profile-pic {
            z-index: 1;
            transition-property: top;
            transition: 1s;
            transition-timing-function: ease-in-out;
            &.profile-btc-toggled {
                top: -70vh;
            }

        }

        #bitcoin-pic {
            transition-property: border-radius top;
            transition-duration: 1s;
            transition-delay: 1s;
            &.bitcoin-btc-toggled {
                border-radius: 4px;
            }
        }

        img {
            border-radius: 50%;
            border: 10px solid $font-color;
            @include respond-to(handhelds) { width: 80vw; }
            @include respond-to(medium-screens) { width: 60vw; }
            @include respond-to(wide-screens) {
                width: $profile-image-size;
                height: $profile-image-size;
            }
        }

    }

}

small {
    transition-property: margin-top, opacity;
    transition-duration: 1s;
    color: $font-color;
    margin-top: -10px;
    opacity: 0;

    &.address-btc-toggled {
        margin-top: 20px;
        opacity: 1;
    }
}

#social-icons {
    transform: translateZ(40px);
    cursor: pointer;

    svg {
        width: $social-icon-size;
        height: $social-icon-size;
        padding: 0 4px;
    }

    a {
        text-decoration: none;
    }
}

svg {
    fill: $font-color;
}

a {
    color: $font-color;
    vertical-align: center;
}

aside {
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    p {
        margin: 0 20px;
    }
}
