---
---

@import "normalize";
@import "github-corner";

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-large) { @content; }
    }
}

<<<<<<< HEAD

h1 {
    font-family: 'Quicksand', sans-serif;
    color: $font-color;
}

html {
    height:100%;
=======

h1 {
    font-family: 'Quicksand', sans-serif;
    color: $font-color;
>>>>>>> a2f999efb6331249253e662d1bc162ca5530312a
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    height: 100%;
=======
    height: 100vh;
>>>>>>> a2f999efb6331249253e662d1bc162ca5530312a
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

main {
    display: flex;
    align-items: center;
    height: 75vh;
    transform-style: preserve-3d;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    text-align: center;
    // This is a hacky fix.
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);

    h1 {
        transform: translateZ(20px);
        margin: 0;
    }

    img {
        border-radius: 50%;
        border: 10px solid $font-color;
        @include respond-to(handhelds) { width: 80vw; }
        @include respond-to(medium-screens) { width: 60vw; }
        @include respond-to(wide-screens) {
            width: $profile-image-size;
            height: $profile-image-size;
        }
    }

    #social-icons {
        transform: translateZ(40px);
        a { text-decoration: none; }

        svg {
            width: $social-icon-size;
            height: $social-icon-size;
            padding: 0 4px;
        }
    }

}

svg {
    fill: $font-color;
}
