<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head.html %}
  <body>
    {% include github-corner.html %}
    <main data-tilt>
      <div id="container">
        <div id="circle-image">
            <img aria-label="A picture of Edward Shen" id="profile-pic" src="/assets/profile.jpg" />
            <img aria-label="A Bitcoin QR code" id="bitcoin-pic" src="/assets/bitcoin.png" />
        </div>
        <small id="btc-address">1NCECFDTDUQSVALYJRVBWDTXXXRDZXAPc8</small>
        <h1>Edward Shen</h1>
        <div id="social-icons">
          {% include icon-github.html username=site.github_username %}
          {% include ruby.html %}
          {% include bitcoin.html %}
          {% include linkedin.html %}
          {% include gmail.html %}
        </div>
      </div>
    </main>
    <aside>
      <a href="assets/resume.pdf">resume</a>
    </aside>

    <script src="/assets/vanilla-tilt.min.js"></script>
    <script>
    function toggleBitcoinAddress() {
      var profilePic = document.getElementById('profile-pic');
      var bitcoinPic = document.getElementById('bitcoin-pic');
      var address = document.getElementById('btc-address');
      if (profilePic.classList.contains("profile-btc-toggled")) {
        profilePic.classList.remove("profile-btc-toggled");
        bitcoinPic.classList.remove("bitcoin-btc-toggled");
        address.classList.remove("address-btc-toggled");
      } else {
        profilePic.classList.add("profile-btc-toggled");
        bitcoinPic.classList.add("bitcoin-btc-toggled");
        address.classList.add("address-btc-toggled");
      }
    }</script>
  </body>

</html>
