<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head.html %}

<body>
  <section id="intro">
    <main aria-label="Content" data-tilt>
      <img src="/assets/profile.jpg" data-tilt-glare/>
      <h1>Edward Shen</h1>
      <div id="social-icons">
        {% include icon-github.html username=site.github_username %}
        {% include icon-twitter.html username=site.twitter_username %}
      </div>
    </main>
  </section>

  <script src="/assets/vanilla-tilt.min.js"></script>
</body>

</html>
